li.select2-selection__choice {
    background: #5179d6!important; 
    color: white!important;

  }
  span.select2-selection__choice__remove {
    color: white!important;
}
span.select2-selection.select2-selection--single {
    padding-top: 4px!important;
    padding-bottom: 29px!important;
}
.cursor-pointer{
    cursor: pointer;
  }
@media print {
    @page { margin: 0; }
    .back-button{
        display:none !important;
    }
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.generate-pdf-invoice .revolution-sdn {
    text-transform: uppercase !important;
}

.generate-pdf-invoice .revolution-section p {
    margin-bottom: 0px;
}
.generate-pdf-invoice .address-line {
    border: 1px solid #777777;
}
.generate-pdf-invoice .invoice h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.generate-pdf-invoice p.revolution {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    display: inline;
}

.generate-pdf-invoice h1.revolution {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    display: inline-block;
}
.generate-pdf-invoice .revolution.revolution-sdn {
    font-size: 30px;
}
.generate-pdf-invoice .revolution.revolution-no {
    font-size: 13px;
}
.generate-pdf-invoice .to-section {
    display: flex;
    /* justify-content: space-around;*/
    align-items: baseline;
}
.generate-pdf-invoice .to-section p {
    font-size: 20px;
}
.generate-pdf-invoice .total-claim.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.generate-pdf-invoice .total-no {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    text-align: center;
}

.generate-pdf-invoice .border-remove td,
.generate-pdf-invoice .border-remove th {
    border: none !important;
}
.generate-pdf-invoice .border-add {
    border-top: 1px solid #abadab;
}

.generate-pdf-invoice .border-addbottom {
    border-bottom: 1px solid #abadab;
}

.generate-pdf-invoice .notes p {
    margin-bottom: 0px;
}
.generate-pdf-invoice .recived-section p {
    margin-bottom: 0px;
}
.generate-pdf-invoice .footer-top p {
    border-top: 1px solid black;
    width: 50%;
}
.generate-pdf-invoice .footer-top {
    border-top: 1px solid black;
    width: 50%;
}
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #949494;
}
.visually-hidden {
    position: absolute !important;
    height: 150px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow: hidden;
}
.dropzone-conetnt{
    display:flex;
    align-items:center;
    font-size:1.5rem;
    color:#949494;
}
.dropzone-conetnt i{
    margin-right:1rem;
}
.custom-file, .custom-file-input{
    height:auto;
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label { outline: false;}
input.visually-hidden:focus-within + label { outline: false;}
ul{list-style-type:none;}
.simplebar-content-wrapper, .content-side, .simplebar-content  {
  height: 100%;
}
.nav-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
}
/* Workflow */
.jobtype_workflow_row label[for="title"], .jobtype_workflow_row label[for="status"], .jobtype_workflow_row label[for="option"]{
  font-size:80%;
}
.jobtype_workflow_row input+label {
  margin-bottom: 0;
}
.jobtype_workflow_row input[type=checkbox], .jobtype_workflow_row input[type=radio] {
  margin-right:5px;
}
.jobtype_workflow_row .row.add {
  display:flex;
  align-items:center;
}

/* Job Type View */
.jobtype_workflow_view > .row {
    margin-bottom: 30px;
    border-radius: 4px;
    border:1px dashed #ddd;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
}
.jobtype_workflow_view label {
    display:block;
    font-size:80%;
}
.jobtype_workflow_view .additional-labels  {
    margin-top: 15px;
}
.jobtype_workflow_view .additional-labels label {
    font-weight: 400!important;
}
/* Job */
.job-timeline .fa-ul {
    margin-left:0px;
    margin-bottom: 0;
    margin-top: 10px;
}
.job-timeline .fa-ul .fa-li {
    font-size:18px;
    width:36px;
    height:36px;
    display: block;
    background: #333;
    color:#fff;
    border-radius:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-right: 10px;
}
.job-timeline .fa-ul li {
    display: flex;
    align-items: center;
}
.select2-container .select2-selection--single {
    height: 36px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px!important;
}
.badge-status {
    padding:8px 18px;
}
.badge-status.badge-danger {
    color:#860000;
}
.badge-status.badge-success {
    color:#005D3A;
}
.badge-status.badge-warning {
    color:#4F2D00;
}
.badge-status.badge-info {
    color:#054B7D;
}
.simplebar-content-wrapper, .content-side, .simplebar-content  {
  height: 100%;
}
.nav-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
}
/* Workflow */
.jobtype_workflow_row label[for="title"], .jobtype_workflow_row label[for="status"], .jobtype_workflow_row label[for="option"]{
  font-size:80%;
}
.jobtype_workflow_row input+label {
  margin-bottom: 0;
}
.jobtype_workflow_row input[type=checkbox], .jobtype_workflow_row input[type=radio] {
  margin-right:5px;
}
.jobtype_workflow_row .row.add {
  display:flex;
  align-items:center;
}

/* Job Type View */
.jobtype_workflow_view > .row {
    margin-bottom: 30px;
    border-radius: 4px;
    border:1px dashed #ddd;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
}
.jobtype_workflow_view label {
    display:block;
    font-size:80%;
}
.jobtype_workflow_view .additional-labels  {
    margin-top: 15px;
}
.jobtype_workflow_view .additional-labels label {
    font-weight: 400!important;
}
/* Job */
.job-timeline .fa-ul {
    margin-left:0px;
    margin-bottom: 0;
    margin-top: 10px;
}
.job-timeline .fa-ul .fa-li {
    font-size:18px;
    width:36px;
    height:36px;
    display: block;
    background: #333;
    color:#fff;
    border-radius:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-right: 10px;
}
.job-timeline .fa-ul li {
    display: flex;
    align-items: center;
}
.select2-container .select2-selection--single {
    height: 36px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px!important;
}
.badge-status {
    padding:8px 18px;
}
.badge-status.badge-danger {
    color:#860000;
}
.badge-status.badge-success {
    color:#005D3A;
}
.badge-status.badge-warning {
    color:#4F2D00;
}
.badge-status.badge-info {
    color:#054B7D;
}
